In [1]:
import pandas as pd

data = {
    'id': [1,2,3],
    'salary':[100, 200, 300],
}

employee = pd.DataFrame(data)

In [2]:
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    # get sorted distinct salaries
    unique_salaries = employee['salary'].drop_duplicates().sort_values(ascending=False).reset_index(drop=True)

    return unique_salaries.iloc[N-1] if N <= len(unique_salaries) else None

In [3]:
nth_highest_salary(employee, 2)  # Example usage to get the 2nd highest salary

200

In [6]:
print(employee['salary'])
employee[employee['salary'] > 150]

0    100
1    200
2    300
Name: salary, dtype: int64

   id  salary
1   2     200
2   3     300

In [8]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    unique_salaries = employee['salary'].drop_duplicates().sort_values(ascending=False).reset_index(drop=True)
    return unique_salaries.iloc[1] if len(unique_salaries) > 1 else None

In [9]:
second_highest_salary(employee)

200