In [16]:
import pandas as pd
import re as r



data = {
    'user_id': [1, 2,3,4,5,6,7],
    'name':['Winston', 'Jonathan', 'Annabelle', ' Sally', 'Marwan', 'David', 'Shapiro'],
    'mail': ['winston@leetcode.com', 'jonathanisgreat', 'bella-@leetcode.com', 'sally.come@leetcode.com', 'quarz#2020@leetcode.com', 'david69@gmail.com', '.shapo@leetcode.com']
}

users = pd.DataFrame(data)

In [23]:
# PATTERN PROBLEM: REGEX 
#start → allowed chars → exact match for @leetcode.com

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    return users[users['mail'].str.match(r'^[a-zA-Z][\w\.-]*@leetcode\.com$'
)].reset_index(drop=True)

In [24]:
valid_emails(users)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
1        3  Annabelle      bella-@leetcode.com
2        4      Sally  sally.come@leetcode.com

^[a-zA-Z] → starts with a letter

[\w\.-]* → followed by any number of word characters (\w = letters, digits, _), periods, or dashes

@leetcode\.com$ → ends with exactly @leetcode.com